* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.botoes_principais {
    position: absolute;
    height: 200px;
    width: 100px;
    border: none;
    background: none;
    color: black;
    z-index: 1;
}

.botoes_principais:hover {
    color: gray;
}

#sessao_principal {
    height: 700px;
    width: 100vw;
    background-image: url(Banckground_Imagem.jpg);
    margin: 50px;
    text-align: center;
}

h1 {
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

#subetitulo_pricipal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#sessao_secundaria {
    height: 690px;
    width: 95vw;
    position: absolute;
    top: 100%;
    text-align: center;
}

.info_Mim {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    height: 150px;
    width: 90vw;
    position: absolute;
    top: 160%;
    margin-top: 30px;
    text-align: center;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 30px;
}

a:hover {
    text-decoration: underline;
}