* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #233364;

}

#menu {
    height: 100px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: #233364;
}

#conteudo_menu {
    margin-left: 1000px;
}

.botoes_menu {
    height: 50px;
    width: 100px;
    margin-left: 10px;
    background: none;
    border: none;
    color: white;


}

.botoes_menu:hover {
    background-color: #1d2c5a;
}



#sessao_principal {
    height: 500px;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Mudar_Xp {
    height: 300px;
    width: 600px;;
    margin-right: 200px;
    text-align: center;
}

#Botao_Xp {
    margin-top: 100px;
}

.links_buttons {
    height: 50px;
    width: 50px;
    background-color: #233364;
    background-image: url(icons8-linkedin-50.png);
    background-repeat: no-repeat;
    border-style: none;

}

.links_buttons_link {
    column-rule: white;
    text-decoration: none;
}
img {
    height: 500px;
    width: 500px;
}


h1 {
    color: rgb(248, 105, 90);
}

p {
    color: white;
}